
.post1{
	margin: 50px;
	width: 600px;
	float: left;
}

.sideBar{
	margin-top:20px;
	width: 250px;
	height: 500px; 	
	background-color: #d7e5e0;
	padding: 7px;
	border-right: 2px solid grey;
	text-align: center;

}

.sidebarcontainer{
	padding: 10px;
	height: 100%;

}

